@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
     h1 {
        font-family: "raleway", sans-serif;
        text-align: center;
        }
    body {
        background-color: lightblue;
    }

    form{
        font-family: "raleway", sans-serif;
        background-color: #fff;
        width: 30%;
        margin: 0 auto;
        padding: 15px;
    }

     .inputElement {
        width: 100%;

    }
    fieldset{
        background-color: lightblue;
    }
     
    legend{
        font-family: "raleway", sans-serif;
        color: red;
        font-size: 20px;;
    }
    